In [3]:
import tabula
from tabula import read_pdf
import pandas as pd
import numpy as np
import re

In [2]:
pres_tab = tabula.read_pdf('https://inecnigeria.org/wp-content/uploads/2022/09/Final-List-of-Candidates-for-National-Elections-1.pdf', pages= '5-7',pandas_options={'header':None})
house_tab = tabula.read_pdf('https://inecnigeria.org/wp-content/uploads/2022/09/Final-List-of-Candidates-for-National-Elections-1.pdf', pages= '144-409',pandas_options={'header':None},)
senate_tab = tabula.read_pdf('https://inecnigeria.org/wp-content/uploads/2022/09/Final-List-of-Candidates-for-National-Elections-1.pdf', pages= '10-141',pandas_options={'header':None},)

<h2>President Data</h2>

In [4]:
columns = pres_tab[0].values.tolist()[0]

In [5]:
print(columns)

['S/N', 'CONSTITUENCY', 'PARTY', 'POSITION', 'CANDIDATE_NAME', 'PWD', 'AGE', 'GENDER', 'QUALIFICATIONS', 'REMARKS']

In [6]:
pres_tab[0]= pres_tab[0].iloc[1:]

In [7]:
for df in pres_tab:
    df.columns=columns

In [9]:
pres_df = pd.concat(pres_tab)

In [10]:
pres_df.tail()

,S/N,CONSTITUENCY,PARTY,POSITION,CANDIDATE_NAME,PWD,AGE,GENDER,QUALIFICATIONS,REMARKS
7,32,NIGERIA,SDP,Vice-\rPresidential,BUHARI YUSUF,None,50,M,FLSC SSCE MSC,NaN
8,33,NIGERIA,YPP,Presidential,ADO-IBRAHIM\rABDULMALIK,None,58,M,PREPARATORY HIGH SCHOOL\rDIPLOMA BACHELOR OF S...,NaN
9,34,NIGERIA,YPP,Vice-\rPresidential,ENYINNA MICHAEL\rKASARACHI,None,44,M,FIRST LEAVING CERTIFICATE\rWAEC BSC,NaN
10,35,NIGERIA,ZLP,Presidential,NWANYANWU DANIEL\rDABERECHUKWU,None,62,M,WEST AFRICAN SCHOOL\rCERTIFICATE BACHELOR OF LAWS,NaN
11,36,NIGERIA,ZLP,Vice-\rPresidential,ABUBAKAR JIBRIN\rIBRAHIM RAMALAN,None,55,M,DIPLOMA IN LAW,NaN

In [11]:
pres_df.shape

(36, 10)

In [12]:
pres_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 1 to 11
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   S/N             36 non-null     object
 1   CONSTITUENCY    36 non-null     object
 2   PARTY           36 non-null     object
 3   POSITION        36 non-null     object
 4   CANDIDATE_NAME  36 non-null     object
 5   PWD             36 non-null     object
 6   AGE             36 non-null     object
 7   GENDER          36 non-null     object
 8   QUALIFICATIONS  36 non-null     object
 9   REMARKS         0 non-null      object
dtypes: object(10)
memory usage: 3.1+ KB

In [13]:
pres_df.isnull().sum()

S/N                0
CONSTITUENCY       0
PARTY              0
POSITION           0
CANDIDATE_NAME     0
PWD                0
AGE                0
GENDER             0
QUALIFICATIONS     0
REMARKS           36
dtype: int64

In [14]:
pres_df.dtypes

S/N               object
CONSTITUENCY      object
PARTY             object
POSITION          object
CANDIDATE_NAME    object
PWD               object
AGE               object
GENDER            object
QUALIFICATIONS    object
REMARKS           object
dtype: object

In [16]:
pres_df['AGE'] = pres_df['AGE'].astype('int64')

In [45]:
pres_df['remarks'] = pres_df['remarks'].astype('str')

In [46]:
pres_df.dtypes

s/n               object
constituency      object
party             object
position          object
candidate_name    object
pwd               object
age                int64
gender            object
qualifications    object
remarks           object
source            object
dtype: object

In [17]:
print(pres_df.duplicated().sum())

0

In [18]:
# removing newlines, carriage returns, tabs
#answer gotten from https://gist.github.com/smram/d6ded3c9028272360eb65bcab564a18a
pres_df.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=[" "," "], regex=True, inplace=True)

In [21]:
pres_df['source'] = 'https://inecnigeria.org/wp-content/uploads/2022/09/Final-List-of-Candidates-for-National-Elections-1.pdf'

In [23]:
pres_df.columns = pres_df.columns.str.lower()

In [25]:
pres_df.tail()

,s/n,constituency,party,position,candidate_name,pwd,age,gender,qualifications,remarks,source
7,32,NIGERIA,SDP,Vice- Presidential,BUHARI YUSUF,None,50,M,FLSC SSCE MSC,NaN,https://inecnigeria.org/wp-content/uploads/202...
8,33,NIGERIA,YPP,Presidential,ADO-IBRAHIM ABDULMALIK,None,58,M,PREPARATORY HIGH SCHOOL DIPLOMA BACHELOR OF SC...,NaN,https://inecnigeria.org/wp-content/uploads/202...
9,34,NIGERIA,YPP,Vice- Presidential,ENYINNA MICHAEL KASARACHI,None,44,M,FIRST LEAVING CERTIFICATE WAEC BSC,NaN,https://inecnigeria.org/wp-content/uploads/202...
10,35,NIGERIA,ZLP,Presidential,NWANYANWU DANIEL DABERECHUKWU,None,62,M,WEST AFRICAN SCHOOL CERTIFICATE BACHELOR OF LAWS,NaN,https://inecnigeria.org/wp-content/uploads/202...
11,36,NIGERIA,ZLP,Vice- Presidential,ABUBAKAR JIBRIN IBRAHIM RAMALAN,None,55,M,DIPLOMA IN LAW,NaN,https://inecnigeria.org/wp-content/uploads/202...

<h2>Senate data</h2>

In [26]:
cols = senate_tab[0].values.tolist()[0]

In [27]:
print(cols)

['S/N', 'STATE', 'CONSTITUENCY', 'PARTY', 'POSITION', 'CANDIDATE_NAME', 'PWD', 'AGE', 'GENDER', 'QUALIFICATIONS', 'REMARKS']

In [28]:
sen_clean = list()

for df in senate_tab:
    if df.shape[1] != 11:
        df[10] = np.nan 
        sen_clean.append(df)       
        continue        
    sen_clean.append(df)

sen_df = pd.concat(sen_clean)

In [29]:
sen_df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,S/N,STATE,CONSTITUENCY,PARTY,POSITION,CANDIDATE_NAME,PWD,AGE,GENDER,QUALIFICATIONS,REMARKS
1,1,ABIA,ABIA CENTRAL,AA,Senate,UBANI IHEANYICHUKWU\rDENNIS,None,51,M,WAEC HND,NaN
2,2,ABIA,ABIA SOUTH,AAC,Senate,NWANKWO GODSWILL\rCHINYERE,None,48,M,FSLC WAEC DEGREE,NaN
3,3,ABIA,ABIA NORTH,ADC,Senate,EMETU MARTINS,None,72,M,FLSC SSCE DEGREE,NaN
4,4,ABIA,ABIA CENTRAL,ADC,Senate,"JOHN ABRAHAM, GODSON",None,51,M,SCHOOL LEAVING\rCERTIFICATE WASC,NaN

In [31]:
sen_df.columns=cols
sen_df.head()

,S/N,STATE,CONSTITUENCY,PARTY,POSITION,CANDIDATE_NAME,PWD,AGE,GENDER,QUALIFICATIONS,REMARKS
0,S/N,STATE,CONSTITUENCY,PARTY,POSITION,CANDIDATE_NAME,PWD,AGE,GENDER,QUALIFICATIONS,REMARKS
1,1,ABIA,ABIA CENTRAL,AA,Senate,UBANI IHEANYICHUKWU\rDENNIS,None,51,M,WAEC HND,NaN
2,2,ABIA,ABIA SOUTH,AAC,Senate,NWANKWO GODSWILL\rCHINYERE,None,48,M,FSLC WAEC DEGREE,NaN
3,3,ABIA,ABIA NORTH,ADC,Senate,EMETU MARTINS,None,72,M,FLSC SSCE DEGREE,NaN
4,4,ABIA,ABIA CENTRAL,ADC,Senate,"JOHN ABRAHAM, GODSON",None,51,M,SCHOOL LEAVING\rCERTIFICATE WASC,NaN

In [32]:
sen_df.shape

(1110, 11)

In [42]:
sen_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1109 entries, 1 to 8
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   s/n             1101 non-null   object
 1   state           1101 non-null   object
 2   constituency    1105 non-null   object
 3   party           1101 non-null   object
 4   position        1101 non-null   object
 5   candidate_name  1101 non-null   object
 6   pwd             1098 non-null   object
 7   age             1098 non-null   object
 8   gender          1098 non-null   object
 9   qualifications  1046 non-null   object
 10  remarks         8 non-null      object
dtypes: object(11)
memory usage: 104.0+ KB

In [35]:
sen_df.columns = sen_df.columns.str.lower()

In [36]:
sen_df['constituency'].value_counts()

IMO EAST                 15
KANO CENTRAL             15
AKWA IBOM\rNORTH EAST    15
IMO WEST                 14
IMO NORTH                14
                         ..
YOBE NORTH                4
FEDERAL                   2
CAPITAL                   2
TERRITORY                 2
CONSTITUENCY              1
Name: constituency, Length: 113, dtype: int64

In [37]:
 sen_df[sen_df['constituency']=='CONSTITUENCY']

,s/n,state,constituency,party,position,candidate_name,pwd,age,gender,qualifications,remarks
0,S/N,STATE,CONSTITUENCY,PARTY,POSITION,CANDIDATE_NAME,PWD,AGE,GENDER,QUALIFICATIONS,REMARKS

In [38]:
sen_df = sen_df.iloc[1: , :]

In [39]:
sen_df.head()

,s/n,state,constituency,party,position,candidate_name,pwd,age,gender,qualifications,remarks
1,1,ABIA,ABIA CENTRAL,AA,Senate,UBANI IHEANYICHUKWU\rDENNIS,None,51,M,WAEC HND,NaN
2,2,ABIA,ABIA SOUTH,AAC,Senate,NWANKWO GODSWILL\rCHINYERE,None,48,M,FSLC WAEC DEGREE,NaN
3,3,ABIA,ABIA NORTH,ADC,Senate,EMETU MARTINS,None,72,M,FLSC SSCE DEGREE,NaN
4,4,ABIA,ABIA CENTRAL,ADC,Senate,"JOHN ABRAHAM, GODSON",None,51,M,SCHOOL LEAVING\rCERTIFICATE WASC,NaN
5,5,ABIA,ABIA SOUTH,ADC,Senate,EDEDE OKEY,None,58,M,FLSC SSCE DEGREE,NaN

In [40]:
sen_df['constituency'].value_counts()

IMO EAST                 15
AKWA IBOM\rNORTH EAST    15
KANO CENTRAL             15
DELTA CENTRAL            14
IMO NORTH                14
                         ..
YOBE SOUTH                6
YOBE NORTH                4
TERRITORY                 2
CAPITAL                   2
FEDERAL                   2
Name: constituency, Length: 112, dtype: int64

In [48]:
sen_df['age'] = sen_df['age'].fillna(0).astype('int64')

C:\Users\user\AppData\Local\Temp\ipykernel_11256\24605750.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sen_df['age'] = sen_df['age'].fillna(0).astype('int64')

In [49]:
sen_df.dtypes

s/n               object
state             object
constituency      object
party             object
position          object
candidate_name    object
pwd               object
age                int64
gender            object
qualifications    object
remarks           object
dtype: object

In [50]:
# removing newlines, carriage returns, tabs
#answer gotten from https://gist.github.com/smram/d6ded3c9028272360eb65bcab564a18a
sen_df.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=[" "," "], regex=True, inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_11256\3582084850.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sen_df.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=[" "," "], regex=True, inplace=True)

In [56]:
sen_df.rename(columns = {'candidate_name':'name of candidate'}, inplace = True)

In [63]:
sen_df['source'] = 'https://inecnigeria.org/wp-content/uploads/2022/09/Final-List-of-Candidates-for-National-Elections-1.pdf'

In [64]:
sen_df.head()

,s/n,state,constituency,party,position,name of candidate,pwd,age,gender,qualifications,remarks,source
1,1,ABIA,ABIA CENTRAL,AA,Senate,UBANI IHEANYICHUKWU DENNIS,None,51,M,WAEC HND,NaN,https://inecnigeria.org/wp-content/uploads/202...
2,2,ABIA,ABIA SOUTH,AAC,Senate,NWANKWO GODSWILL CHINYERE,None,48,M,FSLC WAEC DEGREE,NaN,https://inecnigeria.org/wp-content/uploads/202...
3,3,ABIA,ABIA NORTH,ADC,Senate,EMETU MARTINS,None,72,M,FLSC SSCE DEGREE,NaN,https://inecnigeria.org/wp-content/uploads/202...
4,4,ABIA,ABIA CENTRAL,ADC,Senate,"JOHN ABRAHAM, GODSON",None,51,M,SCHOOL LEAVING CERTIFICATE WASC,NaN,https://inecnigeria.org/wp-content/uploads/202...
5,5,ABIA,ABIA SOUTH,ADC,Senate,EDEDE OKEY,None,58,M,FLSC SSCE DEGREE,NaN,https://inecnigeria.org/wp-content/uploads/202...

In [52]:
print(sen_df.duplicated().sum())

0

In [57]:
uniqueValues = sen_df.nunique()
print(uniqueValues)

s/n                  1100
state                  37
constituency          112
party                  18
position                1
name of candidate    1099
pwd                     5
age                    46
gender                  2
qualifications        703
remarks                 2
dtype: int64

In [60]:
sen_df['name of candidate'].replace(r'\s+',' ', regex=True)
sen_df['qualifications'].replace(r'\s+',' ', regex=True)
sen_df['constituency'].replace(r'\s+',' ', regex=True)

1       ABIA CENTRAL
2         ABIA SOUTH
3         ABIA NORTH
4       ABIA CENTRAL
5         ABIA SOUTH
          ...
4      ZAMFARA NORTH
5      ZAMFARA NORTH
6       ZAMFARA WEST
7    ZAMFARA CENTRAL
8       ZAMFARA WEST
Name: constituency, Length: 1109, dtype: object

<h2>House of representative data</h2>

In [61]:
col = house_tab[0].values.tolist()[0]

In [62]:
print(col)

['S/N', 'STATE', 'CONSTITUENCY', 'NAME OF CANDIDATE', 'PARTY', 'PWD', 'AGE', 'GENDER', 'QUALIFICATION', 'REMARKS']

In [66]:
house_tab[0]= house_tab[0].iloc[1:]

In [73]:
house_df = pd.concat(house_tab)

In [74]:
house_df.columns=col

In [75]:
house_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3160 entries, 1 to 11
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S/N                3153 non-null   object
 1   STATE              310 non-null    object
 2   CONSTITUENCY       3155 non-null   object
 3   NAME OF CANDIDATE  3153 non-null   object
 4   PARTY              3155 non-null   object
 5   PWD                3146 non-null   object
 6   AGE                3146 non-null   object
 7   GENDER             3144 non-null   object
 8   QUALIFICATION      3006 non-null   object
 9   REMARKS            64 non-null     object
dtypes: object(10)
memory usage: 271.6+ KB

In [76]:
house_df['CONSTITUENCY'].value_counts()

CONSTITUENCY                                    44
Aboh Mbaise/Ngor\rOkpala                        15
Takum/Donga/Ussa                                15
Owerri Municipal/\rOwerri North/Owerri\rWest    15
Municipal/Bwari                                 15
                                                ..
Damboa/Gwoza/\rChiboks                           1
Ovia North East/`Ovia\rSouth\rWest               1
ALKALERI/KIRFI                                   1
Akoko North East/Akoko\rNorth\rWest              1
Damaturu/Gujba/\rGulani/Tarmuwa                  1
Name: CONSTITUENCY, Length: 370, dtype: int64

In [82]:
house_df = house_df[house_df['CONSTITUENCY'].str.contains("CONSTITUENCY") == False]

In [83]:
house_df['CONSTITUENCY'].value_counts()

Aboh Mbaise/Ngor\rOkpala                        15
Municipal/Bwari                                 15
Takum/Donga/Ussa                                15
Owerri Municipal/\rOwerri North/Owerri\rWest    15
Etinan/Nsit Ibom/Nsit\rubium                    14
                                                ..
Damboa/Gwoza/\rChiboks                           1
Ovia North East/`Ovia\rSouth\rWest               1
ALKALERI/KIRFI                                   1
Akoko North East/Akoko\rNorth\rWest              1
Damaturu/Gujba/\rGulani/Tarmuwa                  1
Name: CONSTITUENCY, Length: 369, dtype: int64

In [84]:
house_df.columns = house_df.columns.str.lower()

In [85]:
house_df.tail()

,s/n,state,constituency,name of candidate,party,pwd,age,gender,qualification,remarks
7,64,NaN,Shinkafi/Zurmi,IBRAHIM KABIRU,APGA,None,36,M,FSLC SSCE ND,NaN
8,65,NaN,Shinkafi/Zurmi,BAWA MUSTAPHA,APP,None,34,M,FSLC SSCE,NaN
9,66,NaN,Shinkafi/Zurmi,GARBA SULEIMAN,NNPP,None,43,M,"PRIMARY SCHOOL\rCERTIFICATE SSCE ND,\rHND,\rBA...",NaN
10,67,NaN,Shinkafi/Zurmi,HASSAN BELLO SHINKAFI,PDP,None,52,M,FSLC GRADE 2 SCHOOL\rOF ACCOUNTANCY,NaN
11,68,NaN,Shinkafi/Zurmi,ISIYAKA SHAMSUDEEN,SDP,None,36,M,MAGAJI DANGO (SMP)\rINSTITUTE FOR\rCOMPREHENSI...,NaN

In [86]:
house_df.dtypes

s/n                  object
state                object
constituency         object
name of candidate    object
party                object
pwd                  object
age                  object
gender               object
qualification        object
remarks              object
dtype: object

In [88]:
house_df.rename(columns = {'qualification':'qualifications'}, inplace = True)

In [87]:
house_df['age'] = house_df['age'].fillna(0).astype('int64')

In [89]:
house_df.describe()

               age
count  3111.000000
mean     44.521376
std      10.398589
min       0.000000
25%      36.000000
50%      43.000000
75%      52.000000
max      77.000000

In [90]:
# removing newlines, carriage returns, tabs
#answer gotten from https://gist.github.com/smram/d6ded3c9028272360eb65bcab564a18a
house_df.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=[" "," "], regex=True, inplace=True)

In [91]:
house_df.tail()

,s/n,state,constituency,name of candidate,party,pwd,age,gender,qualifications,remarks
7,64,NaN,Shinkafi/Zurmi,IBRAHIM KABIRU,APGA,None,36,M,FSLC SSCE ND,NaN
8,65,NaN,Shinkafi/Zurmi,BAWA MUSTAPHA,APP,None,34,M,FSLC SSCE,NaN
9,66,NaN,Shinkafi/Zurmi,GARBA SULEIMAN,NNPP,None,43,M,"PRIMARY SCHOOL CERTIFICATE SSCE ND, HND, BACHE...",NaN
10,67,NaN,Shinkafi/Zurmi,HASSAN BELLO SHINKAFI,PDP,None,52,M,FSLC GRADE 2 SCHOOL OF ACCOUNTANCY,NaN
11,68,NaN,Shinkafi/Zurmi,ISIYAKA SHAMSUDEEN,SDP,None,36,M,MAGAJI DANGO (SMP) INSTITUTE FOR COMPREHENSIVE...,NaN

In [92]:
house_df.insert(3, 'position', 'house')

In [93]:
house_df['source'] = 'https://inecnigeria.org/wp-content/uploads/2022/09/Final-List-of-Candidates-for-National-Elections-1.pdf'

In [99]:
house_df.tail()

,s/n,state,constituency,position,name of candidate,party,pwd,age,gender,qualifications,remarks,source
7,64,NaN,Shinkafi/Zurmi,house,IBRAHIM KABIRU,APGA,None,36,M,FSLC SSCE ND,NaN,https://inecnigeria.org/wp-content/uploads/202...
8,65,NaN,Shinkafi/Zurmi,house,BAWA MUSTAPHA,APP,None,34,M,FSLC SSCE,NaN,https://inecnigeria.org/wp-content/uploads/202...
9,66,NaN,Shinkafi/Zurmi,house,GARBA SULEIMAN,NNPP,None,43,M,"PRIMARY SCHOOL CERTIFICATE SSCE ND, HND, BACHE...",NaN,https://inecnigeria.org/wp-content/uploads/202...
10,67,NaN,Shinkafi/Zurmi,house,HASSAN BELLO SHINKAFI,PDP,None,52,M,FSLC GRADE 2 SCHOOL OF ACCOUNTANCY,NaN,https://inecnigeria.org/wp-content/uploads/202...
11,68,NaN,Shinkafi/Zurmi,house,ISIYAKA SHAMSUDEEN,SDP,None,36,M,MAGAJI DANGO (SMP) INSTITUTE FOR COMPREHENSIVE...,NaN,https://inecnigeria.org/wp-content/uploads/202...

In [94]:
print(house_df.duplicated().sum())

4

In [96]:
house_df = house_df.drop_duplicates()

In [97]:
print(house_df.duplicated().sum())

0

In [95]:
uniqueValues = house_df.nunique()
print(uniqueValues)

s/n                   288
state                  37
constituency          367
position                1
name of candidate    3091
party                  18
pwd                     6
age                    50
gender                  2
qualifications       1423
remarks                 2
source                  1
dtype: int64

In [98]:
house_df['name of candidate'].replace(r'\s+',' ', regex=True)
house_df['qualifications'].replace(r'\s+',' ', regex=True)
house_df['constituency'].replace(r'\s+',' ', regex=True)

1     Aba North/Aba South
2     Aba North/Aba South
3     Aba North/Aba South
4     Aba North/Aba South
5     Aba North/Aba South
             ...
7          Shinkafi/Zurmi
8          Shinkafi/Zurmi
9          Shinkafi/Zurmi
10         Shinkafi/Zurmi
11         Shinkafi/Zurmi
Name: constituency, Length: 3107, dtype: object

<h2>Exporting to csv</h2>

In [100]:
pres_df.to_csv("president_list.csv",index= False, header= True)

In [101]:
sen_df.to_csv("senate_list.csv",index= False, header= True)

In [103]:
house_df.to_csv("house_list.csv",index= False, header= True)